################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OCIClientLibCore/obj
/OCIClientLibCore/bin/Debug/netcoreapp3.0
